<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Dear @Model.Name,</p>
    <p>How are you? I hope that you are having a @Model.Adjective weekend. I'm vacationing in the @Model.ProperNoun while I learn programming!</p>
    <p>@Model.Name, you would not believe how @Model.Adjective2 it is here. I should have gone to Hawaii instead.</p>
    <p>But I @Model.Verb programming a lot, so I've got that going for me.</p>
    <p>Looking forward to @Model.Verb2 you soon. I'll bring you back a @Model.Noun2.</p>
    <p>Cheers,</p>
    <p>@Model.Verb3 Enthusiast @Model.YourName</p>
  </body>
</html>