<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>How to be a Photographer</h1>
    <p>Many @Model.Adjective1 photographers make big money photographing @Model.PluralNoun1 and</p>
    <p>beautiful @Model.PluralNoun2. They sell the prints to @Model.Adjective2 magazines or to</p>
    <p>agencies who use them in @Model.Noun1 advertisements. To be a photographer, you have</p>
    <p>to have a @Model.Noun2 camera. You also need a @Model.Adjective3 meter and filters and</p>
    <p>a special close-up @Model.Noun3. Then you either hire professional @Model.PluralNoun2 or</p> 
    <p>go out and snap candid pictures of ordinary @Model.PluralNoun3. But if you want to have</p>
    <p>a career, you must study very @Model.Adverb for at least @Model.Number years.</p>
  </body>
</html>