<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A Postcard For You!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hello From Afar</h1>
    <p>Most doctors agree that bicycle @Model.Verbing .is a @Model.Adjective1</p>
    <p>form of exercise that benefits @Model.PluralNoun1 .of all ages</p>
    <p>Riding a bicycle enables you to develop your @Model.BodyPart1 .muscles</p>
    <p>as well as @Model.Adverb .increase the rate of your @Model.BodyPart2</p>
    <p>beat. Bicycle riding is also a @Model.Adjective2 .means of @Model.Noun1 .</p>
    <p>More @Model.PluralNoun2 .around the world @Model.Verb1 .bicycles than</p>
    <p>drive @Model.PluralNoun3 . No matter what kind of @Model.Noun2 .you ride,</p>
    <p>always be sure to wear a @Model.Noun3 .on your head and have reflectors</p>
    <p>on your @Model.BodyPart3, especially if you @Model.Verb2 .at night.</p>
  </body>
</html>